@media screen and (max-width:576px) {

/* Nav Menu Section */

    nav{
        flex-direction: column;
    }
    .logo h1{
        font-size: 25px;
    }
    nav ul{
        justify-content: center;
        gap: 5%;
        margin-top: 10px;
    }
    nav ul li a{
        font-size: 16px;
    }

/* banner Section */

    .banner{
        padding: 30px 0;
    }
    .banner-content{
        width: 90%;
    }
    .banner-title{
        font-size: 40px;
    }
    .search{
        flex-direction: column;
        gap: 20px;
    }
    .search select{
        width: 100%;
    }

/* Popular Section */

    section{
        margin: 50px 0;
    }
    .popular{
        flex-direction: column;
        gap: 30px;
    }
    .popular-content, .popular-img, .popular-text{
        width: 100%;
    }
    .popular-title{
        font-size: 20px;
    }

/* Destination Section */

    .destination-title{
        font-size: 25px;
    }
    .destination-text{
        width: 90%;
    }
    .desti-col{
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }
    .col-img{
        width: 100%;
    }

/* Choose Section */

    .choose-title{
        font-size: 25px;
    }
    .choose-text{
        width: 90%;
    }
    .choose-card{
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }
    .ch-card-content{
        width: 90%;
        padding: 30px 20px;
    }

/* Discount Section */

    .discount-container{
        padding-bottom: 0px;
    }
    .discount-title{
        font-size: 25px;
    }
    .discount-text{
        width: 90%;
    }
    .discount-content{
        width: 100%;
        margin: 150px 20px 20px 20px;
        padding: 20px;
    }

/* Perfect Section */

    .perfect{
        flex-direction: column;
        gap: 15px;
    }
    .perfect-title{
        font-size: 25px;
    }
    .perfect-content, .perfect-img{
        width: 100%;
    }
    .perfect-img p{
        width: 80%;
    }

}


@media  screen and (min-width: 576.001px) and (max-width:800px) {

/* Nav Section */

    nav{
        flex-direction: column;
    }
    .logo h1{
        font-size: 30px;
    }
    nav ul{
        justify-content: center;
        gap: 10%;
        margin-top: 10px;
    }

/* banner styles */
    .banner{
        padding: 30px 0;
    }
    .banner-content{
        width: 90%;
    }
    .banner-title{
        font-size: 45px;
    }
    .search{
        flex-direction: column;
        gap: 20px;
    }
    .search select{
        width: 100%;
    }

/* Popular Section */

    section{
        margin: 50px 0;
    }
    .popular{
        flex-direction: column;
        gap: 30px;
    }
    .popular-content, .popular-img, .popular-text{
        width: 100%;
    }

/* Destination Section */
    
        .destination-title{
            font-size: 30px;
        }
        .destination-text{
            width: 90%;
        }
        .desti-col{
            flex-direction: column;
            gap: 15px;
            margin-bottom: 15px;
        }
        .col-img{
            width: 100%;
        }

/* Choose Section */

    .choose-title{
        font-size: 30px;
    }
    .choose-text{
        width: 90%;
    }
    .choose-card{
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }
    .ch-card-content{
        width: 90%;
        padding: 30px 20px;
    }

/* Discount Section */

    .discount-container{
        padding-bottom: 0px;
    }
    .discount-title{
        font-size: 30px;
    }
    .discount-text{
        width: 90%;
    }
    .discount-content{
        width: 100%;
        margin: 150px 20px 20px 20px;
        padding: 20px;
    }

/* Perfect Section */

    .perfect{
        flex-direction: column;
        gap: 15px;
    }
    .perfect-title{
        font-size: 30px;
    }
    .perfect-content, .perfect-img{
        width: 100%;
    }
    .perfect-img p{
        width: 60%;
    }
}

@media screen and (min-width: 800.001px) and (max-width: 1080px){

/* Nav Section */

    nav{
        flex-direction: column;
    }
    nav ul{
        justify-content: center;
        gap: 10%;
        margin-top: 10px;
    }

    /* banner styles */
    .banner{
        padding: 30px 0;
    }
    .banner-content{
        width: 90%;
    }
    .banner-title{
        font-size: 60px;
    }
    .search{
        flex-direction: column;
        gap: 20px;
    }
    .search select{
        width: 100%;
    }

/* Popular Section */

    section{
        margin: 50px 0;
    }
    .popular{
        flex-direction: column;
        gap: 30px;
    }
    .popular-content, .popular-img, .popular-text{
        width: 100%;
    }

/* Destination Section */

    .destination-title{
        font-size: 35px;
    }
    .destination-text{
        width: 70%;
    }

/* Choose Section */

    .choose-title{
        font-size: 35px;
    }
    .choose-text{
        width: 80%;
    }
    .ch-card-content{
        padding: 30px;
    }

/* Discount Section */

    .discount-container{
        padding-bottom: 0px;
    }
    .discount-title{
        font-size: 35px;
    }
    .discount-text{
        width: 80%;
    }
    .discount-content{
        width: 100%;
        margin: 150px 20px 20px 20px;
        padding: 20px;
    }

/* Perfect Section */

    .perfect{
        flex-direction: column;
        gap: 15px;
    }
    .perfect-title{
        font-size: 35px;
    }
    .perfect-content, .perfect-img{
        width: 100%;
    }
    .perfect-img p{
        width: 40%;
    }
}

@media screen and (min-width: 1080.001px) and (max-width: 1300px) {
    /* Popular Section */

    .popular-img img{
        width: 100%;
        height: 100%;
    }

/* Perfect Section */

.perfect-img p{
    width: 60%;
}
    
}

 