@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .menu{
        gap: 10px;
    }

    /* banner styles */
    .banner{
        padding: 30px 0;
    }
    .banner-content{
        width: 90%;
    }
    .banner-title{
        font-size: 40px;
    }
    .search{
        flex-direction: column;
        gap: 20px;
    }
    .where, .when, .select{
        width: 100%;
    }
}

@media  screen and (min-width: 576.001px) and (max-width:800px) {
    nav{
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .menu{
        gap: 20px;
    }

    /* banner styles */
    .banner{
        padding: 30px 0;
    }
    .banner-content{
        width: 90%;
    }
    .banner-title{
        font-size: 45px;
    }
    .search{
        flex-direction: column;
        gap: 20px;
    }
    .where, .when, .select{
        width: 100%;
    }
}

@media screen and (min-width: 800.001px) and (max-width: 1080px){
    nav{
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .menu{
        gap: 30px;
    }

    /* banner styles */
    .banner{
        padding: 30px 0;
    }
    .banner-content{
        width: 90%;
    }
    .banner-title{
        font-size: 60px;
    }
    .search{
        flex-direction: column;
        gap: 20px;
    }
    .where, .when, .select{
        width: 100%;
    }
}

@media screen and (min-width: 1080.001px) and (max-width: 1300px) {
    
}