* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.body-container {
    max-width: 85%;
    margin: 0 auto;
}

.hide {
    display: none;
}

section {
    margin: 100px 0;
}

.heading {
    font-size: 40px;
    font-weight: 800;
}

.subheading {
    font-size: 24px;
    font-weight: 800;
}

.text-primary {
    font-size: 16px;
    color: #5A5A5D;
    line-height: 25px;

}

.btn-primary {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #FF5400;
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
}

/* Nav & Header Related Styles */

/* Nav Menu related styles start */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size: 36px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}

nav ul li a:hover {
    color: #FF5400;
}

/* nav menu related styles end */

/* header banner related styles start */

.banner {

    background-image: linear-gradient(#000000bd, #fff0), url('../Images/banner.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%;
    padding: 105px 0;
    border-radius: 15px;
}

.banner-content {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 64px;
    color: white;
    margin-bottom: 24px;
}

.banner-text {
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 48px;
}

.search {
    background-color: rgba(255, 255, 255, 0.322);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.search input {
    padding: 15px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.search select {
    width: 180px;
    padding: 15px 10px;
    border-radius: 8px;
    background-color: white;
    color: #5A5A5D;
}

.find i {
    margin-right: 10px;
}

/* header banner related styles End */

/* Popular Related Styles Start */

.popular {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.popular-content,
.popular-img {
    width: 50%;
}

.popular-title {
    margin-bottom: 25px;
}

.popular-content ul {
    margin: 25px 0;
}

.popular-content ul li {
    margin: 20px 0;
    margin-left: 30px;
}

.popular-text,
li {
    width: 80%;
}

.popular-content button {
    margin-top: 35px;
}

.popular-img img {
    width: 100%;
    height: 100%;
}

/* Popular Related Styles End */

/* Desination Related Styles Start */

.destination {
    text-align: center;
}
.destination-text{
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.desti-col {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.col-img {
    position: relative;
}

.col-img img {
    width: 100%;
    height: 100%;
}

.col-img p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 28px;
    font-weight: 800;
}

/* Desination Related Styles End */

/* Choose Section Related Styles Start */

.choose{

}
.choose-title{
    text-align: center;
}
.choose-text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}
.choose-card{
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}
.hotel{
    background-color: #FFFBF7;
}
.map{
    background-color: #F4FDFF;
}
.ch-card-content{
    width: 50%;
    margin: 0 auto;
    padding: 30px 50px 30px;
    border-radius: 10px;
}
.tag{
    background-color: #FEF6F6;
    width: 40%;
}
.ch-card-content img{

}
.ch-card-title{
    margin-top: 30px;
    margin-bottom: 15px;
}
.ch-card-text{

}

/* Choose Section Related Styles End */

/* Discount Related Styles Start */

.discount-title{
    text-align: center;
}
.discount-text{
    text-align:center;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}
.discount-container{
    width: 100%;
    padding: 50px 0;
    background-image: url('../Images/discount\ 1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 25px;
}
.discount-2{
    width: 100%;
    padding: 50px 0;
    background-image: url('../Images/discount\ 2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 25px;
}
.discount-1{
    display: flex;
    justify-content: flex-start;
}
.discount-2{
    display: flex;
    justify-content: flex-end;
}
.discount-content{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    margin: 0 50px;
}
.discount-content ul{
    background-color: lightgreen;
    display: flex;
    margin-bottom: 25px;
}
.discount-content ul li{
    font-size: 15px;
    list-style: none;
    color: #5A5A5D;
    text-align: ce;
}
.discount-content ul li i{
    color: #FF5400;
    margin-right: 5px;
}
.discount-content-title{
    
}
.discount-content-text{
    margin: 15px 0;
}
.discount-price{
    color: #FF5400;
    margin-bottom: 25px;
}
.package-button{
    text-align: center;
}

/* Discount Related Styles End */